@keyframes rotating-icon-one {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes rotating-icon-two {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}