@use 'animations' as animations;
@use 'colors' as colors;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	color: colors.$white;
	background-color: colors.$dark;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.section-padding {
	padding: 6em 2em;
}

.section-title {
	position: relative;
	font-size: 3.2rem;
	margin-bottom: 2em;
	font-weight: 200;
	text-align: center;
	color: colors.$gold;

	&::before {
		content: '';
		position: absolute;
		width: 50px;
		height: 3px;
		background-color: colors.$gold;
		bottom: -5px;
	}

	span {
		font-weight: bold;
	}
}

// nav

.nav {
	&__links {
		text-transform: uppercase;
		text-decoration: none;
	}
}

.nav-mobile {
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		background-color: #fff;
	}

	.nav__links-mobile {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1em;
		text-transform: uppercase;
		font-size: 2.8rem;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100vw;
		z-index: 1000;
		background-color: #fff;
		transform: translateX(-100%);
		transition: transform 0.3s;

		&.nav-active {
			transform: translate(0);
		}

		a {
			color: colors.$dark;
			transition: color 0.3s;

			&:hover {
				color: colors.$gold;
			}
		}
	}
}

.nav-desktop {
	display: none;

	.nav__links-desktop {
		a {
			color: colors.$white;
		}
	}
}

.hamburger {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1001;
}

// .is-active {
// 	background-color: #fff;
// }

// header

.header {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto repeat(2, 1fr);
	height: 100vh;
	overflow: hidden;

	&__text {
		display: grid;
		justify-content: center;
		align-content: center;
		padding: 2em;
		grid-column: 1/3;
		grid-row: 3/4;

		&-title {
			font-size: 3.2rem;
			margin-bottom: 0.5em;
			color: colors.$gold;
			font-family: 'Cinzel', sans-serif;
		}
	}

	&__img {
		position: relative;
		grid-column: 1/3;
		grid-row: 1/3;
		width: 100%;
		background-image: url('../img/header-small.jpg');
		background-size: cover;
		background-position: center;
		filter: sepia();

		&-shadow {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}

	&__bg-icon-one,
	&__bg-icon-two {
		opacity: 0.05;
		z-index: -1000;
	}

	&__bg-icon-one {
		position: absolute;
		right: 1em;
		bottom: 1em;
		width: 50%;
		animation: rotating-icon-one 55s infinite linear;
	}

	&__bg-icon-two {
		display: none;
	}
}

// main

.main {
	.cards {
		background-color: colors.$darker;

		&__boxes {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 2em;
		}

		.card__box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			padding: 3em;
			background-color: colors.$dark;
			border-radius: 30px;
			transition: 0.3s;
			border: 2px solid transparent;

			&:hover {
				border: 2px solid colors.$gold;
				background-color: colors.$darker;
			}

			i {
				font-size: 5.2rem;
				color: colors.$gold;
			}

			&-title {
				font-size: 1.8rem;
				margin-top: 1em;
				text-transform: uppercase;
			}

			&-text {
				font-size: 1.6rem;
				margin-top: 0.5em;
				text-align: center;
			}
		}
	}

	.invest {
		&__boxes {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto repeat(2, 1fr);

			&-title {
				// position: relative;
				grid-column: 1/3;
				// font-size: 3.2rem;
				// margin-bottom: 2em;
				// font-weight: 200;
				// text-align: center;
				// color: colors.$gold;

				// &::before {
				// 	content: '';
				// 	position: absolute;
				// 	width: 50px;
				// 	height: 3px;
				// 	background-color: colors.$gold;
				// 	bottom: -5px;
				// }

				// span {
				// 	font-weight: bold;
				// }
			}
		}

		&__box {
			display: flex;
			flex-direction: column;
			grid-column: 1/3;
			width: 100%;

			&-img {
				width: 100%;
				margin-top: 2em;
				filter: sepia();
			}

			&-title {
				margin: 0.5em 0;
				color: colors.$gold;
				font-size: 2.6rem;
				font-weight: 200;
			}

			&-text {
				margin-bottom: 0.5em;
			}

			&-info {
				color: colors.$gold;
				font-weight: bold;
				transition: color 0.2s;
				align-self: flex-end;

				&:hover {
					color: colors.$darkgold;
				}
			}
		}

		.icon {
			display: none;
			z-index: -1000;
		}
	}

	.plan {
		background-color: colors.$darker;

		&__boxes {
			display: flex;
			flex-direction: column;
			gap: 2em;
		}

		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			background-color: colors.$dark;
			padding: 3em;
			border-radius: 30px;
			border: 2px solid transparent;
			transition: border .3s;

			&:hover {
				border: 2px solid colors.$gold;
				background-color: colors.$darker;
			}

			&-info {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-bottom: 1em;
			}

			i,
			&-title {
				color: colors.$gold;
				margin-bottom: 0.5em;
			}

			i {
				font-size: 3.6rem;
			}

			&-title {
				font-size: 2.2rem;
				font-weight: bold;
			}
		}
	}
}

// media

@media (min-width: 552px) {
	.main {
		.invest {
			overflow: hidden;
			&__boxes {
				&-title {
					grid-column: 1/2;
					grid-row: 1/2;
					align-self: start;
					margin-bottom: 0;
				}
			}

			&__box {
				grid-column: 2/3;

				&:nth-of-type(1) {
					.invest__box-img {
						margin-top: 0;
					}
				}
			}

			.icon {
				position: absolute;
				display: inline-block;
				opacity: 0.05;
			}

			&__bg-icon-one {
				top: 150px;
				left: 0;
				width: 300px;
				animation: rotating-icon-one 55s infinite linear;
			}

			&__bg-icon-two {
				top: 400px;
				left: 100px;
				width: 800px;
				animation: rotating-icon-two 55s infinite linear;
			}

			&__bg-icon-three {
				top: 1200px;
				left: 150px;
				width: 250px;
				animation: rotating-icon-one 55s infinite linear;
			}

			&__bg-icon-four {
				top: 1600px;
				left: 0px;
				width: 200px;
				animation: rotating-icon-two 55s infinite linear;
			}
		}
	}

	.section-title {
		font-size: 3.6rem;
	}
}

@media (min-width: 768px) {
	.nav-desktop {
		display: block;
		padding: 1em;
		font-size: 2.4rem;
		grid-column: 1/2;
		grid-row: 1/2;
		border-bottom: 1px solid gray;

		.nav__links-desktop {
			display: flex;
			gap: 1em;
			text-transform: uppercase;
		}

		.nav__link-desktop {
			position: relative;
			padding: 0.5em;
			transition: color 0.3s;

			&:hover {
				color: colors.$gold;
			}

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				opacity: 0;
				width: 0;
				height: 0;
				transform: translate(-50%, -50%);
				transition: 0.5s;
			}

			&:hover::before {
				width: 100%;
				height: 100%;
				opacity: 0.3;
				border: 1px solid colors.$gold;
			}
		}
	}

	.header {
		&__text {
			grid-column: 1/2;
			grid-row: 2/4;

			&-title {
				font-size: 6.2rem;
			}

			&-content {
				font-size: 2.4rem;
				font-weight: 200;
			}
		}

		&__img {
			grid-column: 2/3;
			grid-row: 1/4;
		}

		&__bg-icon-one {
			position: absolute;
			top: 150px;
			left: 30%;
			width: 10%;
		}

		&__bg-icon-two {
			display: block;
			position: absolute;
			bottom: 5%;
			left: 3%;
			width: 20%;
			animation: rotating-icon-two 55s infinite linear;
		}
	}

	.main {
		.cards {
			&__boxes {
				flex-direction: row;
			}
		}

		.section-title {
			font-size: 4.8rem;
		}

		.plan {
			&__box {
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-direction: row;
				width: 100%;
				background-color: colors.$dark;
				padding: 3em;
				border-radius: 30px;

				&-info {
					margin-bottom: 0;
				}

				i,
				&-title {
					margin-bottom: 0;
				}
			}
		}
	}
}
